<html>
<head>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
$(function() {
// setTimeout() function will be fired after page is loaded
// it will wait for 5 sec. and then will fire
// $(".message_flash").hide() function
  setTimeout(function() {
      $(".message_flash").hide('blind', {}, 500)
  }, 5000);
}) 
  </script>
</head>
<body>
<div>
<ul>
{% for l in links %}{% if l.endpoint != 'static' %}<li><a href={{ l }}>{{ l.endpoint }}</a></li>{% endif %}{% endfor %}
</ul>
</div>
<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for messages in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
</body>
</html>
